{% extends 'base.html' %}

{% block title %}メモ一覧{% endblock %}
{% block h1 %}メモ一覧{% endblock %}

{% block content %}
    {% for item in object_list %}  <!-- メモに対して -->
    <ul>
        <li>{{ item.title }}</li>
        <li>{{ item.text }}</li>
        <li>
            {% for tag in item.tags.all %} <!-- 複数のオブジェクトが返ってくるので -->
                {{ tag.tag_name }} <!-- オブジェクトごとにタグを表出 -->     
                　<!-- 空白 -->                                           
            {% endfor %}
        </li>
        <a href="{% url 'memo-detail' item.pk %}">詳細へ</a>
    </ul>
    {% endfor %}
{% endblock %}
